.page {
  width: 90%;
  margin: 0 auto;
}

#main {
  float: left;
  padding: 10px 10px 10px 10px;
  background-color: gray;
  width: 940px;
}
#header {
  width: 900px;
  padding: 10px;
  margin: 10px;
  background: yellow;
}
#content {
  width: 641px;
  background: blue;
  height: 20px;
  float: left;
  margin: 10px;
  padding: 10px;
}
#sidebar {
  float: left;
  margin: 10px;
  padding: 10px;
  width: 215px;
  height: auto;
  border: solid 2px black;
  background-color: red;
}
#footer {
  background-color: white;
  color: #999;
  padding: 10px;
  text-align: center;
  line-height: normal;
  margin: 0 0 30px 0;
  font-size: 0.9em;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  clear: both;
  margin: 10px;
  width: 900px;
}
